
 
  <% if (errMsg) { %>
    <h2>Error: <%= errMsg %>
    </h2>
  <% } %>

  <form action="/" method="post">
    <label for="input-original-url">Original URL: </label>
    <input type="text" name="originalUrl" 
      id="input-original-url"
      placeholder="Enter your full-length URL here" 
      <% if (originalUrl) { %>
        value=<%= originalUrl %>
      <% } %> />
    <button>Generate</button>
  </form>

  <% if (shortUrl) { %>
    <form>
      <label for="input-short-url">Short URL: </label>
      <input type="text" id="input-short-url" 
        class="short-url" readonly
        value=<%= baseUrl + shortUrl %> />
      <button class="copy-button">Copy</button>
    </form>
  <% } %>


