<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Short-URL Generator</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <a class="nav" href="/">
    <h1>Short-URL Generator</h1>
    <figure>
      <img src="/ACimage.png" alt="">
    </figure>
  </a>

  <%- include('generate') %>

  <%- include('history') %>

  <script>
    document.addEventListener("click", (e) => {
        if (!e.target.matches(".copy-button")) return
        e.preventDefault()
        const input = e.target.parentNode
          .querySelector('.short-url')
        navigator.clipboard.writeText(input.value)
        e.target.innerText = 'Copied!!'
        e.target.classList.add('clicked')
    })
  </script>

</body>
</html>